    .container {
      width: 900px;
      height: 100%;
      margin: 40px auto;
      border-radius: 25px;
      border: 1px solid #000;
      background-color: #e0ebeb;
    }

    button {
      min-width: 250px;
      height: 100px;
      text-align: center;
      cursor: pointer;
    }

    .txtAdventureDescription {
      font-size: 18px;
      line-height: 26px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
    }

    .profile {
      border-radius: 50%;
      border: 2px #000 solid;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

  body {
    background-image: url("Mansion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: monospace;
}
